<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magenest_Manufacturer::show"
            title="Manufacturer Management"
            module="Magenest_Manufacturer"
            sortOrder="50"
            resource="Magenest_Manufacturer::show"/>
        <add
            id="Magenest_Manufacturer::grid"
            title="Manufacturer Grid"
            module="Magenest_Manufacturer"
            sortOrder="15"
            action="manufacturer/manufacturer/index"
            parent="Magenest_Manufacturer::show"
            resource="Magenest_Manufacturer::grid"/>
    </menu>
</config>

