<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
    "urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magenest_WeddingEvent::managementwedding" title="Wedding Event Management" sortOrder="60">
                    <resource id="Magenest_WeddingEvent::wedding" title="Wedding Event Grid" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
