<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magenest_MyLinh::show"
            title="Vendor Management"
            module="Magenest_MyLinh"
            sortOrder="50"
            resource="Magenest_MyLinh::show"/>
        <add
            id="Magenest_MyLinh::grid"
            title="Vendor Grid"
            module="Magenest_MyLinh"
            sortOrder="15"
            action="mylinh/vendor/index"
            parent="Magenest_MyLinh::show"
            resource="Magenest_MyLinh::grid"/>
    </menu>
</config>

