<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
    "urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magenest_WeddingEvent::managementwedding"
            title="Wedding Event Management"
            module="Magenest_WeddingEvent"
            sortOrder="50"
            resource="Magenest_WeddingEvent::managementwedding"
        />
        <add
            id="Magenest_WeddingEvent::wedding"
            title="Wedding Event Grid"
            module="Magenest_WeddingEvent"
            sortOrder="55"
            parent="Magenest_WeddingEvent::managementwedding"
            action="wed/index/index/"
            resource="Magenest_WeddingEvent::wedding"
        />
    </menu>
</config>
