<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magenest_Notification::show"
            title="Notification Management"
            module="Magenest_Notification"
            sortOrder="50"
            resource="Magenest_Notification::show"/>
        <add
            id="Magenest_Notification::grid"
            title="Notification Grid"
            module="Magenest_Notification"
            sortOrder="15"
            action="notification/index/index"
            parent="Magenest_Notification::show"
            resource="Magenest_Notification::grid"/>
    </menu>
</config>

